<html>
  <head>
    <title> Amityville Memorial Highschool Class of 1964 Reunion</title>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src='javascripts/vendor/jquery.stellar.min.js'></script>
    <script type="text/javascript" src='javascripts/vendor/waypoints.js'></script>
    <script type="text/javascript" src='javascripts/vendor/jquery.easing.1.3.js'></script>
    <script type="text/javascript" src='js/main.js'></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" text="text/css" href="css/style.css">
  </head>

  <body>
      <nav>
        <ul class="navigation">
          <li data-slide='1'><a href="#">Top</a></li>
          <li data-slide='2'><a href="#">Slide2</a></li>
          <li data-slide='3'><a href="#">Important Information</a></li>
          <li data-slide='4'><a href="#">Slide4</a></li>
          <li data-slide='5'><a href="#">Slide5</a></li>
        </ul>
      </nav>

      <div class="main">

          <section class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="1">
            <div class="container">
              <div class="row">
                <div class="col-md-12 slide-1-logo">
                  <h1 class="title1">Welcome to Amityville Memorial Class of 1964's Reunion Page</h1>
                    <h3 class="subtitle"> To learn more scroll down.</h3>
                  <!-- <img src="img/slide2/warrior.jpg" class="mainimg"> -->
                </div>
              </div>
            </div>
            <a class="button" data-slide='2' title=''></a>
          </section>

          <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
            <a class="button" data-slide='3' title=''></a>
          </div>

          <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">

             <div class="container">
              <div class="row">

                <div class="col-md-10">
                  <div class="info">
                    <h1>Important Information</h1>
                      <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>

                      </ul>
                  </div>
                </div>

                <!-- <div class="col-md-6">
                  <div class="info">
                    <h1>Hotel Information</h1>
                      <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, amet, vero minima cumque ipsa quia corporis eum atque deleniti perferendis magni nemo facere debitis officiis sequi molestias illo in harum!</li>
                      </ul>
                  </div>
                </div> -->
              </div>
            </div>

              <a class="button" data-slide='4' title=''></a>
          </div>

          <div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
            <a class="button" data-slide='5' title=''></a>
          </div>
           <div class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0.5">
             <div class="container">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="info">
                    <h1>Hotel Information</h1>
                      <ul>
                        <li>Grand Hyatt</li>
                        <li>Mariot</li>
                        <li>Best Western</li>
                        <li>Quality Inn</li>
                      </ul>
                  </div>
                </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="info">
                      <h1>Important Links</h1>
                        <ul>
                          <li><a href="http://www.amityvilleschools.org/schools/amityville_memorial_high_school">Amityville Memorial Highschool</a></li>
                           <li><a href="https://www.alumniclass.com/amityvillememorial">Amityville Memorial Alumni Website</a></li>
                          <li><a href="#">Photo Galleries</a></li>
                          <li><a href="#">Missing Classmates</a></li>
                          <li><a href="https://www.alumniclass.com/amityvillememorial">Amityville Memorial Alumni Website</a></li>
                          <li><a href="#">In Memoriam</a></li>
                        </ul>
                    </div>
                  </div>
              </div>
            </div>

          </div>

      </div>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>

</html>